@using GestionVentas.Web.Enum

@model GestionVentas.Web.Models.ViewModels.Usuarios.UsuarioViewModel

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string accionCrud = ViewData["accionCRUD"].ToString();
}


<h1>Usuarios > @accionCrud.ToLower()</h1>

@if (ViewBag.error != null)
{
    <div class="alert alert-danger">
        <strong>Exeption: </strong> @ViewBag.error
    </div>
}
<div class="container p-5">
    @* asp-action = AccionesCRUD.AGREGAR || AccionesCRUD.MODIFICAR *@
    <form method="post" asp-action=@accionCrud asp-controller="usuarios" id="formHTTP">
        <div class="form-group">
            <label asp-for="Id" style="display:none;"></label>
            <input asp-for="Id" class="form-control form-control-sm" placeholder="" style="display:none;" />
            @*<span asp-validation-for="Codigo" class="text-danger"></span>*@
        </div>

        @*<div class="form-group row">
            <label asp-for="Codigo" class="col-form-label col-form-label-sm col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="Codigo" class="form-control form-control-sm" placeholder="Codigo" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group row">
            <label asp-for="UserName" class="col-form-label col-form-label-sm col-sm-2">Nombre de Usuario:</label>
            <div class="col-sm-10">
                <input asp-for="UserName" class="form-control form-control-sm" placeholder="Nombre de Usuario" required />
                @*<span asp-validation-for="UserName" class="text-danger"></span>*@
            </div>
        </div>
        @if (!accionCrud.ToUpper().Equals("MODIFICAR"))
        {
            <div class="form-group row">
                <label asp-for="Password" class="col-form-label col-form-label-sm col-sm-2">Password:</label>
                <div class="col-sm-10">
                    <input asp-for="Password" type="password" class="form-control form-control-sm" placeholder="Password" required />
                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ConfirmacionPassword" class="col-form-label col-form-label-sm col-sm-2">Confirmar Password:</label>
                <div class="col-sm-10">
                    <input asp-for="ConfirmacionPassword" type="password" class="form-control form-control-sm" placeholder="Confirmar Password" required />
                    @*<span asp-validation-for="ConfirmacionPassword" class="text-danger"></span>*@
                </div>
            </div>
        }


        <!-- #region AlternativaDropDown -->
        <!--<div class="form-group row">
    <label  for="modelos">Seleccione modelo: </label>-->
        @*se obtiene el value del dropdownlist en la propiedad "ModeloId" de la siguiente manera especificando en el primer parametro*@
        <!--
        @{/*Html.DropDownList("ModeloId", Model.Modelos, new { @class = "form-control form-control-sm " })*/}

    </div>-->
        <!-- #endregion -->
        @*alternativa sin htmlHelper*@

        <div class="form-group row">
            <label class="col-form-label col-form-label-sm col-sm-2">Perfil:</label>
            <div class="col-sm-10">
                <select asp-for="PerfilId" asp-items="Model.Perfiles" class="form-control form-control-sm" required>
                    @if (!accionCrud.ToUpper().Equals("MODIFICAR"))
                    {
                        <option selected value="0">Seleccione Perfil....</option>
                    }
                    else
                    {
                        <option selected value=@Model.PerfilId>@Model.PerfilDescripcion</option>
                    }
                </select>
            </div>

        </div>

        <div class="form-group d-flex justify-content-end">
            <input type="submit" value=@accionCrud.ToLower() class="btn btn-success form  form-control-sm border-0  m-1">
            <a asp-action="index" asp-controller="usuarios" class="btn form-control-sm btn-primary text-decoration-none text-center m-1">Cancelar</a>
        </div>
    </form>
    @*<button asp-action="index" asp-controller="modelos" class=" form-control btn-primary">Cancelar</button>*@


</div>
@*esto es utilizado para agregar contenido en secciones; contenido como vista parcial... se indica la vista parcial con el atributo name*@
@*en este caso se agrega la vista parcial "_ValidationScriptsPartial.cshtml", el cual solo contine script definidos.. ver definicion en directorio
    shared*@
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}



