
@using GestionVentas.Web.Enum

@model GestionVentas.Web.Models.ViewModels.Usuarios.PerfilViewModel
@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Colores > Detalle</h1>

<br />
<b><label asp-for="Descripcion" class="control-label"></label>:</b>
@Html.DisplayFor(x => x.Descripcion)
<br />
<b><label asp-for="ModulosDescripcion" class="control-label"></label>:</b>
@Html.DisplayFor(x => x.ModulosDescripcion)

<hr />
<a asp-action="index" asp-controller="perfiles" class="btn btn-dark form-control-sm ">Volver </a>
<a asp-action="form" asp-controller="perfiles" asp-route-Id=@Model.Id asp-route-accionCRUD=@AccionesCRUD.MODIFICAR class="btn btn-primary form-control-sm ">Modificar</a>
<a asp-action="eliminar" asp-controller="perfiles" asp-route-Id=@Model.Id class="btn btn-danger form-control-sm ">Eliminar</a>



