@using GestionVentas.Web.Enum
@model ModeloDTO


@{
    //ViewData["Title"] = "Agregar";
    string accionCrud = ViewData["accionCRUD"].ToString();

}

@{
/*
    POR VIEWBAG PODRIAMOS PASAR ACCION AGREGAR O MODIFICAR Y ESTE USARLO EN EL <H1>
*/
}
<h1>@accionCrud</h1>

<div class="container">    
    <form method="post" asp-action=@accionCrud asp-controller="modelos" id="formModelos">
        <div class="form-group">
            <label asp-for="Codigo"></label>
            <input asp-for="Codigo" class="form-control" placeholder="Nombre" />
            <span asp-validation-for="Codigo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descripcion"></label>
            <input asp-for="Descripcion" class="form-control" placeholder="Apellido" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>

        <input type="submit" value="Agregar" class=" form-control btn-success ">
    </form>

</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}


