
@using GestionVentas.Web.Helper
@using GestionVentas.Web.Enum

@{
    dynamic usuario = SessionHelper.GetObjectFromJson<dynamic>(this.Context.Session, "usuario");
    string modulosAutorizado = usuario?.ModulosAutorizado??"";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestionVentas.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark text-white border-bottom box-shadow mb-3 ">
            <div class="container-fluid d-flex justify-content-between">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GestionVentas.Web</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>*@

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 text-white">
                        <li>
                            <a class="nav-item nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home " aria-hidden="true"></i>Home</a>
                        </li>
                        @if (modulosAutorizado.Contains(ModulosAplicacionEnum.articulos.ToString()))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">Articulos</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Modelos" asp-action="Index">Modelos</a>
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Colores" asp-action="Index">Colores</a>
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a>
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a>
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Articulos" asp-action="Index">Articulos</a>
                                </div>
                            </li>
                        }

                        @if (modulosAutorizado.Contains(ModulosAplicacionEnum.stock.ToString()))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">Stock</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Stock" asp-action="Index">Stock Articulos</a>

                                </div>
                            </li>
                        }
                        @if (modulosAutorizado.Contains(ModulosAplicacionEnum.ventas.ToString()))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">Ventas</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="Index">Ventas</a>
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="PuntoVenta">Punto de Venta</a>
                                </div>
                            </li>

                        }
                        @if (modulosAutorizado.Contains(ModulosAplicacionEnum.reportes.ToString()))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">Reportes</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="reporte" asp-action="ReporteRecaudacionArticulosVendidos">Recaudacion Articulos Vendidos</a>
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="reporte" asp-action="ReporteCantidadArticuloVendidosPordia">Cantidad Articulo Vendidos Por dia</a>
                                </div>
                            </li>
                        }

                        @if (modulosAutorizado.Contains(ModulosAplicacionEnum.seguridad.ToString())) { 
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">Seguridad</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="usuarios" asp-action="Index">Usuarios</a>
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="perfiles" asp-action="Index">Perfiles</a>
                                </div>
                            </li>
                        }
                            
                    </ul>

                </div>
                @if (usuario != null) { 
                    <div class="btn btn-primary btn-sm h-25">
                        <ul class="navbar-nav flex-grow-1 text-white">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#"><i class="fa fa-user "> </i> @usuario?.NombreUsuario</a>
                                <div class="dropdown-menu position-absolute" style="left:-75px;">
                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Seguridad" asp-action="CerrarSession">Cerrar Sesion <i class="fa fa-sign-out"></i></a>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                }
                
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GestionVentas.Web - Ferreteria PEPE S.A
        </div>
    </footer>
    @section scripts{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
